#vid_to_vid_chosen_file .w-full, #vid_to_face_restore_chosen_file .w-full{
	display: flex !important;
	align-items: flex-start !important;
	justify-content: center !important;
	height: 85px !important;
}

#vid_to_vid_chosen_file, #vid_to_face_restore_chosen_file{
	height: 85px !important;
}